In [12]:
s_1 =set()
s_2 = set()
s_1 = {1,1,2,3}
s_2 = {1,2,3,4,5}
print(s_1)
print(s_2)
print(s_2.intersection_update(s_1))
print(s_2)

{1, 2, 3}
{1, 2, 3, 4, 5}
None
{1, 2, 3}

In [13]:
4%2

0

In [14]:
4/2

2.0

In [15]:
5//2

2

In [16]:
5/2

2.5

In [17]:
5+3*2    #BODMAS RULE

11

In [22]:
True | False #bitwise opertr

True

In [24]:
a= 10
b= 20
a+b>30 or a-b<10

True

In [43]:
str1 = "hiiiii"
str1   # never use reserved keywords like 'str' 'int'  etc

'hiiiii'

In [36]:
1

1

In [3]:
x = ("23456")
x

'23456'

In [4]:
str(x)

'23456'

In [6]:
str1 = "hi"
str2 = "bye"
print(str1)
print(str2)

hi
bye

In [7]:
str1+str2

'hibye'

In [8]:
str1+"   "+str2   # concettenate

'hi   bye'

In [11]:
name = (input("enter name"))

enter name nisant

In [16]:
a =input("number 1?")
b =input("number 2?")
c = int(a)+int(b)  #type casted
print(c)

number 1?1
number 2?2
3

In [17]:
first_name = input("first name?") #take input from user.
last_name = input("last name?")
print("Welcome to python",first_name,last_name)

first name?Nishant
last name?Thakur
Welcome to python Nishant Thakur

In [4]:
first_name = input("first name?") #take input from user string formating.
last_name = input("last name?")
print("My first name {firstname} and last name {lastname}".format(lastname= last_name,firstname= first_name))

first name?ll
last name?kk
My first name ll and last name kk

In [5]:
# concatenate only with strings possible

"nishant"+"1"

'nishant1'

In [11]:
a = int(input("enter numb 1",))   #conditional statements
b = int(input("enter numb 2",))
c = a-b
if c<0:    #start of loop
    print("bye")
elif c>100:
    print("login error")   #inside loop body
elif c>20:
    print("password error")
else:   #end of loop
    print("hi welcome")

enter numb 11000
enter numb 2200
login error

In [13]:
l = [1,2,5,6,"hii"]
type(l[4])

str

In [14]:
l.append("bye")
l

[1, 2, 5, 6, 'hii', 'bye']

In [22]:
l.extend("hm")
l

[1, 2, 5, 6, 'hii', 'bye', 'k', 'i', 'l', 'l', 'y', 'e', 's', 'h', 'm']

In [23]:
l[2]= (45)
l

[1, 2, 45, 6, 'hii', 'bye', 'k', 'i', 'l', 'l', 'y', 'e', 's', 'h', 'm']

In [24]:
l.count(45)
l

[1, 2, 45, 6, 'hii', 'bye', 'k', 'i', 'l', 'l', 'y', 'e', 's', 'h', 'm']

In [2]:
l.count(6)
l

NameError: name 'l' is not defined

In [4]:
lst = [1,2,3,4,5,2,2,4]
lst.count(2)

3

In [5]:
lst.count(2)

3

In [6]:
#indexing
str1= "krishna"
str1[2]

'i'

In [1]:
#str1[2]=o  cant be changed or immutable.

In [7]:
lst1=["mango","cherry","mango"]
lst1.count("mango")

2

In [14]:
fruits=['apple', 'banana', 'cherry']

cars=['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [22]:
lst1=["mango","cherry","mango"]
lst1.extend(["apple","banana",10])  # extend operatn
print(lst1)

['mango', 'cherry', 'mango', 'apple', 'banana', 10]

In [20]:
lst1=["mango","cherry","mango"]  # append opertns
lst1.append("apple")
print(lst1)

['mango', 'cherry', 'mango', 'apple']