In [1]:
s_1 =set()
s_2 = set()
s_1 = {1,1,2,3}
s_2 = {1,2,3,4,5}
print(s_1)
print(s_2)
print(s_2.intersection_update(s_1))
print(s_2)

{1, 2, 3}
{1, 2, 3, 4, 5}
None
{1, 2, 3}

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5//2

2

In [ ]:
5/2

2.5

In [ ]:
5+3*2    #BODMAS RULE

11

In [ ]:
True | False #bitwise opertr

True

In [ ]:
a= 10
b= 20
a+b>30 or a-b<10

True

In [ ]:
str1 = "hiiiii"
str1   # never use reserved keywords like 'str' 'int'  etc

'hiiiii'

In [ ]:
1

1

In [ ]:
x = ("23456")
x

'23456'

In [ ]:
str(x)

'23456'

In [ ]:
str1 = "hi"
str2 = "bye"
print(str1)
print(str2)

hi
bye

In [ ]:
str1+str2

'hibye'

In [ ]:
str1+"   "+str2   # concettenate

'hi   bye'

In [ ]:
name = (input("enter name"))

In [ ]:
a =input("number 1?")
b =input("number 2?")
c = int(a)+int(b)  #type casted
print(c)

In [ ]:
first_name = input("first name?") #take input from user.
last_name = input("last name?")
print("Welcome to python",first_name,last_name)

In [ ]:
first_name = input("first name?") #take input from user string formating.
last_name = input("last name?")
print("My first name {firstname} and last name {lastname}".format(lastname= last_name,firstname= first_name))

In [ ]:
# concatenate only with strings possible

"nishant"+"1"

In [ ]:
a = int(input("enter numb 1",))   #conditional statements
b = int(input("enter numb 2",))
c = a-b
if c<0:    #start of loop
    print("bye")
elif c>100:
    print("login error")   #inside loop body
elif c>20:
    print("password error")
else:   #end of loop
    print("hi welcome")

In [ ]:
l = [1,2,5,6,"hii"]
i=0
while i< len(l):
    print(l[i])
    i=i+1

In [ ]:
l.append("bye")
l

In [ ]:
l.extend("hm")
l

In [ ]:
l[2]= (45)
l

In [ ]:
l.count(45)
l

In [ ]:
l.count(6)
l

In [ ]:
lst = [1,2,3,4,5,2,2,4]
lst.count(2)

In [ ]:
lst.count(2)

In [ ]:
#indexing
str1= "krishna"
str1[2]

In [ ]:
#str1[2]=o  cant be changed or immutable.

In [ ]:
lst1=["mango","cherry","mango"]
lst1.count("mango")

In [ ]:
fruits=['apple', 'banana', 'cherry']

cars=['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

In [ ]:
lst1=["mango","cherry","mango"]
lst1.extend(["apple","banana",10])  # extend operatn
print(lst1)

In [ ]:
lst1=["mango","cherry","mango"]  # append opertns
lst1.append("apple")
print(lst1)

In [ ]:
list(range(10))

In [ ]:
l1 = [1,2,4,6,7,8,9,10,11]
list(range(2,8))

In [ ]:
k = [1,2,3,4,2,4,5,7,3,45,78,34,6,7,4,5,7,4,7,8,6,5,67,8]
i =0
while i<len(k):
    print(k[i])
    i=i+3

list(range(k[1],k[9]))

In [ ]:
s ="hello sir"
s

In [ ]:
len(s)

In [ ]:
n = [1,2,4,5,6]
n.insert(0,"hi")
n

In [ ]:
n = [1,2,4,5,6]
n.remove(6)
n

In [ ]:
k = 3-6j 
k

In [ ]:
print(k.real,k.imag)

In [ ]:
"nish"+"6"

In [ ]:
"nishant"*6

In [ ]:
True is True

In [ ]:
True is False

In [ ]:
a=1
c=0
a==c

In [ ]:
True

In [ ]:
l = [1,2,3,4,5,6]
type(l)

In [ ]:
i = 0
while i < 20: 
    print(i)
    i = i+5

In [ ]:
x = range(3, 20, 2)
for n in x:
    print(n)
type(x)

In [ ]:
l = [1,3,5,5,77,8,6,77,8,99]
len(l)

In [ ]:
l = [1,3,5,5,77,8,6,77,8,99]  # sum of all list
i =0
for i in l:
    i = i+1
    print(i)

In [ ]:
lst = [9,7,8,9,7]
len(lst)

In [ ]:
# for loop
# find sum of above numbrs.
sum1=0
for i in lst:
    sum1=sum1+i
    #print(sum1)
print(sum1)

In [1]:
%%time
lst = [1,2,3,5,6,7,8,8,2,1,2,3,5]  # find sum of even & odd numbr in list.

even_sum =0
odd_sum =0

for i in lst:
    if i%2==0:
        even_sum=even_sum+i
        if even_sum > 20:
            break
        
    else:
        odd_sum=odd_sum+i
        
print("the even sum",even_sum)
print("the odd sum",odd_sum)

the even sum 24
the odd sum 16
Wall time: 0 ns

In [ ]:
%%time
k1= [9,2,4,5,2,9,4,5,6]    #this is for---else loop.
sum1=0
for i in k1:
    if i==1:
        break
    sum1=sum1+i

else:
    print(sum1)

In [ ]:
k1= [9,2,4,5,2,9,4,5,6,1]    #this is for---else loop.

sum1=0
for i in k1:
    if i==1:
        sum1=sum1+i
        print(sum1) 
    elif i==2:
        sum1=sum1+2
        print(sum1)
print(sum1)

In [ ]:
lst = [1,2,3,5,6,1,2,1,2,3,5]  # find sum of even & odd numbr in list.

even_sum =0

for i in lst:
    if i%2==0: 
        if even_sum>20:
            even_sum=even_sum+i
            print(even_sum)
            break

In [9]:
lst = [1,2,3,5,6,7,8,4,2,1,2,3,5]  # find sum of even & odd numbr in list.

even_sum =0
odd_sum =0

for i in lst:
    if i%2==0:
        even_sum=even_sum+i
        print("the even sum",even_sum)
        if even_sum>20:
            break
    else:
        odd_sum = odd_sum+i
        print("the odd sum",odd_sum)
        if odd_sum>20:
            break
            
            
print("the odd sum is",odd_sum)
print("the even sum is",even_sum)

the odd sum 1
the even sum 2
the odd sum 4
the odd sum 9
the even sum 8
the odd sum 16
the even sum 16
the even sum 20
the even sum 22
the odd sum is 16
the even sum is 22